<div class="container mt-5">
  <div class="text-center">
    <p>ようこそ、ながのCAKEへ！</p>
    <p>このサイトは、ケーキ販売のECサイトになります。</p>
    <p>会員でない方も商品の閲覧はできますが、</p>
    <p>購入には会員登録が必要になります。</p>
  </div>
</div>  

<div class="container mt-5">
  <div class="text-center">  
    <h1>新着商品</h1>
    
    <% @products.each do |product| %>
      <%= link_to  customers_product_path(product) do %>
      <%= attachment_image_tag product, :image, :fill, 50, 50, fallback: "no_image.jpg" %>
      <br><%= product.name %>
      <% end %>
    <% end %>
 </div>
</div>  