<h4>ショッピングカート</h4>

<table>
  <thead>
    <tr>
     <td>商品名</td>
     <td>単価（税込）</td>
     <td>数量</td>
     <td>小計</td>
     <td></td>
    </tr>
  </thead>
  
  <tbody>
     <tr>
       <%= attachment_image_tag @product, :image, :fill, 10, 10, fallback: "no_image.jpg" %><%=
     </tr>
  </tbody>
    
</table>

