<div class="col-xs-12">
  <h2>商品編集</h2>
  <%= form_with model: [:admin, @product], local: true do |f| %>
    <div class="col-xs-6">
      <%= render "form_product", f: f, genres: @genres %>
      <div class="actions col-xs-7">
	      <%= f.submit "変更を保存", class: "btn btn-primary btn-lg pull-right" %>
      </div>
    </div>
  <% end %>
</div>