<div class="container">
  <h1>商品編集</h1>
  <%= form_with model: [:admin, @product], local: true do |f| %>
    <%= render "form_product", f: f, genres: @genres %>
    <div class="row">
      <div class="mx-auto my-2">
        <%= f.submit "変更を保存", class: "btn btn-outline-secondary" %>
      </div>
    </div>
  <% end %>
</div>
