<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <p>
        ご注文ありがとうございました！<br>
        素敵なティータイムをお過ごしください！
      </p>
      <%= image_tag 'candy.png', width: 200 %>
    </div>
  </div>
</div>