 <% if model.errors.any? %>
  <h5>入力した内容にエラーが<%= model.errors.count %>件あります。</h5>
  <ul>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>